{% require_css %}
  <style>
    {% scope_css %}
      .ornemental-line{
        height: {{ module.style.size }}px;
        margin-top: {{ module.style.spacing.margin.top.value }}px;
        margin-bottom: {{ module.style.spacing.margin.bottom.value }}px;
        padding: {{ module.style.spacing.padding.top.value }} {{ module.style.spacing.padding.right.value }} {{ module.style.spacing.padding.bottom.value }} {{ module.style.spacing.padding.left.value }};
      }
      .ornemental-line__line{
        background-color: rgba({{ module.style.color_field.color|convert_rgb }},{{ module.style.color_field.opacity / 100 }});
      }
      .ornemental-line__pick path{
         stroke: rgba({{ module.style.color_field.color|convert_rgb }},{{ module.style.color_field.opacity / 100 }});
      }
      .ornemental-line.vertical{
        width: {{ module.style.size }}px;
        height: {{ module.height }}px;
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="ornemental-line{% if module.direction == "vertical"%} vertical{% endif %}">
  <span class="ornemental-line__line"></span>
  <svg class="ornemental-line__pick" xmlns="http://www.w3.org/2000/svg" width="24.419" height="15.911" viewBox="0 0 24.419 15.911">
    <g transform="translate(0.5 0.5)">
      <path id="Path_155" data-name="Path 155" d="M2502.558,969.847l5.825-5.272-5.825-5.272a8.863,8.863,0,0,0-11.651,0,6.964,6.964,0,0,0,0,10.543A8.861,8.861,0,0,0,2502.558,969.847Z" transform="translate(-2485.208 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
      <path id="Path_156" data-name="Path 156" d="M2499.527,969.044l4.571-4.016-4.571-4.016a7.11,7.11,0,0,0-9.14,0,5.208,5.208,0,0,0,0,8.033A7.108,7.108,0,0,0,2499.527,969.044Z" transform="translate(-2485.208 -957.573)" fill="none" stroke="#002554" stroke-width="1"/>
      <path id="Path_157" data-name="Path 157" d="M2492.2,968.2l3.244-2.69-3.244-2.69a5.28,5.28,0,0,0-6.488,0,3.365,3.365,0,0,0,0,5.381A5.278,5.278,0,0,0,2492.2,968.2Z" transform="translate(-2484.371 -958.051)" fill="none" stroke="#002554" stroke-width="1"/>
    </g>
  </svg>
</div>