.ornemental-line{
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.ornemental-line__line{
  height: 1px;
  width: 100%;
  background-color: #002554;
}
.ornemental-line__pick{
  height: 100%;
  width: auto;
}

.ornemental-line.vertical{
  flex-direction: column-reverse;
  width: 23px;
  height: 600px;
}
.ornemental-line.vertical .ornemental-line__line{
  height: 100%;
  width: 1px;
}
.ornemental-line.vertical .ornemental-line__pick{
  height: auto;
  width: 100%;
  transform: rotate(-90deg);
}

@media(max-width: 768px) {

  .ornemental-line{
    margin-bottom: 40px !important;
  }
  .ornemental-line.vertical{
    display: none;
  }
}