.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.cards__card {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.4rem;
  max-width: 100%;
  position: relative;
  flex: 1 1 240px;
}

.card__image {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 0.7rem;
}

.card__text {
  padding: 0 0.7rem;
  width: 100%;
}

.card__index{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -50px;
  top: -50px;
  font-size: 50%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button{
  margin: auto auto 0 0;
  padding-top: 40px;
}

.card__button a{
  padding: 8px 30px;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .card__index{
    transform: scale(.75);
  }
  .cards__card{
    padding: 20px !important;
  }
}