{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Image #}

      {% if module.styles.image.corner.radius >= 0 %}
        .card__image {
          border-radius: {{ module.styles.image.corner.radius ~ "px" }};
        }
      {% endif %}

      {# Card #}

      .card {
        {% if module.styles.card.background.background_type == "color" and module.styles.card.background.color.color %}
          background-color: rgba({{ module.styles.card.background.color.color|convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
        {% elif module.styles.card.background.background_type == "gradient" %}
          background: {{ module.styles.card.background.gradient.css }};
        {% elif module.styles.card.background.background_type == "image" %}
          {{ module.styles.card.background.image.css }}
        {% endif %}
        {{ module.styles.card.border.border.css }}
        {% if module.styles.card.corner.radius >= 0 %}
          border-radius: {{ module.styles.card.corner.radius ~ "px" }};
        {% endif %}
        {{ module.styles.card.spacing.spacing.css }}
      }
    
      .card__index{ 
        left: -{{ module.styles.card.index.size / 2 }}px;
        top: -{{ module.styles.card.index.size / 2 }}px;
      }
    
      .card__button a{
        background-color: {{ module.styles.card.button.color_background.color }};
        color: {{ module.styles.card.button.color_text.color }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Cards #}

<div class="cards">

  {# Loops through each card in the cards repeater #}

  {% for card in module.card %}
    <div class="cards__card card">
      {% if card.image.src %}
        {% set sizeAttrs = 'width="{{ card.image.width }}" height="{{ card.image.height }}"' %}
        {% if card.image.size_type == "auto" %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif card.image.size_type == "auto_custom_max" %}
          {% set sizeAttrs = 'width="{{ card.image.max_width }}" height="{{ card.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
        {% endif %}
        {% set loadingAttr = card.image.loading != "disabled" ? 'loading="{{ card.image.loading }}"' : "" %}
        <img class="card__image" src="{{ card.image.src }}" alt="{{ card.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      {% if card.card_text %}
        <div class="card__text">
          {{ card.card_text }}
        </div>
      {% endif %}
      {% if card.button_text %}
        <div class="card__button">
            {% set href = card.button_link.url.href %}
          	{% if card.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
              {% if card.button_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if card.button_link.rel %}rel="{{ card.button_link.rel }}"{% endif %}
              >
              {{ card.button_text }}
            </a>
        </div>
      {% endif %}
      {% if module.show_index == "yes" %}
        <span class="card__index" style="width: {{ module.styles.card.index.size }}px; height: {{ module.styles.card.index.size }}px; color: rgba({{ module.styles.card.index.color.color|convert_rgb }},{{ module.styles.card.index.color.opacity / 100 }}); background-color: rgba({{ module.styles.card.index.background_color.color|convert_rgb }},{{ module.styles.card.index.background_color.opacity / 100 }});
font-size: {{ module.styles.card.index.font_size }}px;">{{ loop.index }}</span>
      {% endif %}
    </div>
  {% endfor %}

</div>
