/* For content that needs to be visually hidden but stay visible for screenreaders */
html{
  scroll-behavior: smooth;
}

.show-for-sr {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media screen and (min-width: 768px){
  .hero-fulll-height{
    min-height: 100vh;
  }
  .lsp-column .row-fluid .span6{
    width: calc(50% - 5px);
  }
}

@media (max-width: 767px) {

  .show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}