<!--
  templateType: page
  isAvailableForNewContent: true
  label: Prayer request
  screenshotPath: ../images/template-previews/prayer-request.jpg
-->
{% extends "./layouts/base-simple.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {# Hero white titles #}
  {% dnd_section
    background_image={
      "background_position" : "MIDDLE_CENTER",
      "background_size" : "cover",
      "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/Imported%20sitepage%20images/header2bhaktimargahelpcentre.jpg"
    },
    padding={
      "default" : {
        "bottom" : "120px",
        "top" : "120px"
      },
      "mobile" : {
        "bottom" : "80px",
        "top" : "80px"
      }
    },
    full_width=false
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h1 style="color: #00a0af; font-weight: 400; text-shadow: 1px 1px 0 rgba(0,0,0,.25);"><span style="color: #ffffff;">Become a Devotee</span></h1>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <div style="max-width: 220px; text-align: center; display: flex; align-items: center; flex-direction: column; justify-content: center;">
            <h2 style="font-size: 20px; font-weight: 400;"><span style="color: #ffffff;">A COMMITMENT TO LOVE &amp; SERVICE</span></h2>
            <div><a href="#devotee" rel="noopener"><span style="color: #ffffff;"><span data-hs-icon-hubl="true" style="display: block; margin-left: auto; margin-right: auto; fill: #FFFFFF;">{% icon icon_set="fontawesome-5.14.0" name="chevron-down" style="SOLID" height="30" purpose="decorative" title="chevron-down icon" %}</span></span></a></div>
            </div>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Image bg + text #}
  {% dnd_section
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    },
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    full_width=true
    %}
    {% dnd_column
      offset=0,
      width=6,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-paramahamsa.jpg"
      },
      padding={
        "default" : {
          "bottom" : "100px",
          "left" : "0px",
          "right" : "0px",
          "top" : "100px"
        }
      }
    %}

    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6,
      background_color="rgba(187, 157, 90, 0.88)",
      padding={
        "default" : {
          "bottom" : "80px",
          "left" : "80px",
          "right" : "80px",
          "top" : "80px"
        },
        "mobile" : {
          "bottom" : "40px",
          "left" : "24px",
          "right" : "24px",
          "top" : "40px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <div style="max-width: 560px;"><a id="devotee" data-hs-anchor="true"></a>
            <h2>WHAT IS A DEVOTEE INITIATION ?</h2>
            <p>Devotee initiation is a confirmation of a <span style="font-weight: bold;">life-long commitment in service to God and Guru</span>. It is based on the understanding that Paramahamsa Vishwananda takes responsibility to guide and support you on the path to the unfolding ultimate goal of spiritual growth. For this, He provides the knowledge and grace required. If the aspirant is willing to participate, the goal can be reached.</p>
            <p>Here you will find the information you need to decide if this is the next step on your spiritual path. <span style="font-weight: bold;">Devotee initiation is a rare opportunity and one of the biggest decisions you can make in life.</span> Therefore, all aspiring devotees must meet some requirements before they are eligible to request formal initiation.</p>
            </div>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Title ornemental + text #}
  {% dnd_section
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    full_width=false
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2><span style="color: #009cc1;">INITIATION PREREQUISITES</span></h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/ornemental-line",
          offset=0,
          width=12
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <p>A candidate must follow Gurudev for at least 2 years, and for at least 1 year, the candidate must:</p>
            <ul>
            <li>Observe vegetarianism (no meat, fish or eggs)</li>
            <li>No alcohol, smoking or drug consumption</li>
            <li>Participate monthly in Bhakti Marga activities (physical or online).</li>
            <li>Perform daily japa (some missed days are permitted)</li>
            <li>Read the Bhagavad Gita (without commentary is sufficient)</li>
            <li>Read at least one of Guruji’s books (excluding the Bhagavad Gita)</li>
            <li>Complete the Devotee Course</li>
            <li>Receive approval from a Swami/ni or Rishi/ka</li>
            </ul>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Cards index #}
  {% dnd_section
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    full_width=false
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/card",
          offset=0,
          width=12
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}