<!--
  templateType: page
  isAvailableForNewContent: true
  label: Prayer request
  screenshotPath: ../images/template-previews/prayer-request.jpg
-->
{% extends "./layouts/base-simple.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {# Hero white titles #}
  {% dnd_section
    padding={
      "default" : {
        "top" : "120px"
      }
    }
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h1 style="text-align: center;">MY PRAYER REQUEST</h1>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2 style="text-align: center; font-weight: 300;">YOUR NAME AND PRAYER WILL BE ADDING IN OUR DAILY OM CHANTINGS AT SHREE PEETHA NILAYA.</h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section bg + form #}
  {% dnd_section
    vertical_alignment="MIDDLE",
    padding={
      "default" : {
        "top" : "0px"
      }
    }
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row
        background_color="rgba(0, 160, 175, 0.22)"
      %}
        {% dnd_column
          offset=0,
          width=5,
          background_image={
            "background_position" : "MIDDLE_CENTER",
            "background_size" : "cover",
            "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-project-mantra.jpg"
          },
          padding={
            "default" : {
              "bottom" : "100px",
              "left" : "0px",
              "right" : "0px",
              "top" : "100px"
            }
          }
        %}

        {% end_dnd_column %}
        {% dnd_column
          offset=5,
          width=7,
          padding={
            "default" : {
              "bottom" : "80px",
              "left" : "60px",
              "right" : "60px",
              "top" : "80px"
            },
            "mobile" : {
              "bottom" : "40px",
              "left" : "20px",
              "right" : "20px",
              "top" : "40px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h2>Let us offer a prayer for you.</h2>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/form",
              offset=0,
              width=12,
              form={
                "form_id" : "23e17cb8-e456-421b-97ba-8e369d1d8627",
                "form_type" : "HUBSPOT",
                "message" : "Merci d'avoir envoyé le formulaire.",
                "response_type" : "inline"
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}