<!--
  templateType: page
  isAvailableForNewContent: true
  label: Prayer request - Thank you
  screenshotPath: ../images/template-previews/prayer-request-thank-you.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {# Hero text #}
  {% include_dnd_partial path="../sections/hero-big-text.html" %}

  {# Section img + text #}
  {% dnd_section
    vertical_alignment="MIDDLE",
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "60px"
      }
    },
    margin={
      "default" : {
        "bottom" : "10px"
      }
    },
    full_width=true
    %}
    {% dnd_column
      offset=0,
      width=6,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-paramahamsa.jpg"
      },
      padding={
        "default" : {
          "bottom" : "100px",
          "left" : "0px",
          "right" : "0px",
          "top" : "100px"
        }
      }
    %}

    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6,
      background_color="rgba(187, 157, 90, 0.88)",
      padding={
        "default" : {
          "bottom" : "100px",
          "left" : "80px",
          "right" : "80px",
          "top" : "100px"
        },
        "mobile" : {
          "bottom" : "40px",
          "left" : "24px",
          "right" : "24px",
          "top" : "40px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <div style="max-width: 560px;">
            <h2><strong>Receive a blessing from Paramahamsa Vishwananda</strong></h2>
            <p>Bhakti Marga is the path of devotion under the guidance of a living, God-realised Master. We invite you to meet Paramahamsa Vishwananda and experience the infinite mercy and power of God’s Love.</p>
            </div>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/button",
          offset=0,
          width=12,
          button_text="Register Now"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section quote #}
  {% include_dnd_partial path="../sections/section-quote.html" %}

  {# Section video + text #}
  {% dnd_section
    background_color="rgba(223, 229, 235, 1)",
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    vertical_alignment="MIDDLE"
    %}
    {% dnd_column
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/video",
          offset=0,
          width=12,
          hubspot_video={
            "height" : 1080,
            "player_id" : 57240514258,
            "player_type" : "hsvideo2",
            "width" : 1920
          },
          video_type="hubspot_video"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6,
      padding={
          "default" : {
            "left" : "0px",
            "right" : "0px",
            "top" : "20px"
          }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2><span style="color: #bb9d5a;">Watching Insights with Paramahamsa Vishwananda</span></h2>
            <p>Gain practical insights for spiritual living. Paramahamsa Vishwananda speaks about deep truths and the ultimate goal of life.</p>
            <p><span style="color: #bb9d5a;">Link</span></p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}