<!--
  templateType: page
  isAvailableForNewContent: true
  label: Prayer request - Thank you v2
  screenshotPath: ../images/template-previews/prayer-request-thank-you-v2.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

    {# Hero text #}
    {% dnd_section
        background_linear_gradient={
            "colors" : [ "rgba(97, 123, 155, 1)", "rgba(0, 37, 84, 1)" ],
            "direction" : "to right"
        },
        padding={
            "default" : {
            "bottom" : "0px",
            "top" : "120px"
            },
            "mobile" : {
            "top" : "60px"
            }
        },
        full_width=false
        %}
        {% dnd_column
            offset=0,
            width=12,
            padding={
            "default" : {
                "left" : "0px",
                "right" : "0px"
            }
            }
        %}
            {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <h1><span style="color: #ffffff; font-weight: 300;">Thank you</span></h1>
                <h2><span style="color: #ffffff; font-weight: 300;">SHORT LINE OF TEXT</span></h2>
                {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <h2><span style="color: #ffffff; font-weight: 300;">WHAT’S NEXT ?!</span></h2>
                <div><a href="#anchor-next" rel="noopener"><span style="color: #ffffff;"><span data-hs-icon-hubl="true" style="display: block; margin-left: 80px; margin-right: auto; fill: #FFFFFF;">{% icon icon_set="fontawesome-5.14.0" name="chevron-down" style="SOLID" height="30" purpose="decorative" title="chevron-down icon" %}</span></span></a></div>
                {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <a id="anchor-next" data-hs-anchor="true"></a>
                <h3 style="font-size: 5.5vw; font-weight: 900; margin-bottom: -1.5vw; white-space: nowrap; overflow: hidden;"><span style="color: #ffffff; line-height: 0;">TAKE YOUR NEXT STEPS <span style="font-size: 200%;">…</span></span></h3>
                {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

    {# Section img + text #}
    {% dnd_section
        vertical_alignment="MIDDLE",    
        padding={
            "default" : {
            "bottom" : "0px",
            "left" : "0px",
            "right" : "0px",
            "top" : "60px"
            }
        },
        margin={
            "default" : {
            "bottom" : "10px"
            }
        },
        full_width=true
        %}
        {% dnd_column
            offset=0,
            width=6,
            background_image={
            "background_position" : "MIDDLE_CENTER",
            "background_size" : "cover",
            "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-paramahamsa.jpg"
            },
            padding={
            "default" : {
                "bottom" : "100px",
                "left" : "0px",
                "right" : "0px",
                "top" : "100px"
            }
            }
        %}

        {% end_dnd_column %}
        {% dnd_column
            offset=6,
            width=6,
            background_color="rgba(187, 157, 90, 0.88)",
            padding={
            "default" : {
                "bottom" : "100px",
                "left" : "80px",
                "right" : "80px",
                "top" : "100px"
            },
            "mobile" : {
                "bottom" : "40px",
                "left" : "24px",
                "right" : "24px",
                "top" : "40px"
            }
            }
        %}
            {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <div style="max-width: 560px;">
                <h2><strong>Receive a blessing from Paramahamsa Vishwananda</strong></h2>
                <p>Receive a blessing from Paramahamsa Vishwananda Bhakti Marga is the path of devotion, under the guidance of a living Master. We’re here to help you connect to something greater than your problems—God! For that, we invite you to come to meet Paramahamsa Vishwananda, a God-realised Master who can help raise you up so that you can truly experience the infinite mercy and power of God’s Love. Here are three ways to connect with Him.</p>
                </div>
                {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
            {% dnd_module
                path="../modules/button",
                offset=0,
                width=12,
                button_text="Register Now"
            %}
            {% end_dnd_module %}
            {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

    {# Section quote #}
    {% dnd_section
        background_color="rgba(0, 37, 84, 1)",
        margin={
            "default" : {
            "bottom" : "10px",
            "top" : "10px"
            }
        },
        full_width=false
        %}
        {% dnd_column
            offset=0,
            width=12
        %}
            {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <p><span style="font-size: 60px;"><span data-hs-icon-hubl="true" style="display: inline-block; fill: #BB9D5A;">{% icon icon_set="fontawesome-5.14.0" name="quote-left" style="SOLID" height="60" purpose="decorative" title="quote-left icon" %}</span></span></p>
                <p><span style="font-size: 50px; color: #bb9d5a; line-height: 1.2;">‘It is very important to pray, because it releases the mind from mental tragedy and diverts it to something higher… Prayer is about you and God connecting through love.’ </span></p>
                <p><span style="color: #bb9d5a;">– Paramahamsa Vishwananda</span></p>
                {% end_module_attribute %}
            {% end_dnd_module %}
            {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

    {# Section video + text #}
    {% dnd_section
        vertical_alignment="MIDDLE",
        background_color="rgba(97, 123, 155, 1)",
        margin={
        "default" : {
            "bottom" : "10px",
            "top" : "10px"
        }
        },
        full_width=false
        %}
        {% dnd_column
        offset=0,
        width=6
        %}
        {% dnd_row %}
            {% dnd_module
            path="@hubspot/video",
            offset=0,
            width=12,
            hubspot_video={
                "height" : 1080,
                "player_id" : 57240514258,
                "player_type" : "hsvideo2",
                "width" : 1920
            },
            video_type="hubspot_video"
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
        offset=6,
        width=6,
        padding={
            "default" : {
            "left" : "0px",
            "right" : "0px",
            "top" : "20px"
            }
        }
        %}
        {% dnd_row %}
            {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
            %}
            {% module_attribute "html" %}
                <h2><span style="color: #bb9d5a;">Watching Insights with Paramahamsa Vishwananda</span></h2>
                <p><span style="color: #ffffff;">Gain practical insights for spiritual living. Paramahamsa Vishwananda speaks about deep truths and the ultimate goal of life.</span></p>
                <p><span style="color: #bb9d5a;">Link</span></p>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}