<!--
  templateType: page
  isAvailableForNewContent: true
  label: Project Mantra
  screenshotPath: ../images/template-previews/project-mantra.jpg
-->
{% extends "./layouts/base-simple.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {# Hero video #}
  {% dnd_section
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    },
    full_width=true
    %}
    {% dnd_column
      offset=0,
      width=12,
      padding={
        "default" : {
          "left" : "0px",
          "right" : "0px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/video",
          offset=0,
          width=12,
          embed_field={
            "embed_html" : "<iframe src=\"https://pages.bhaktimarga.org/hubfs/2022-06-22-ProjectMantra-Intro.mp4\" title=\"Project Mantra Intro\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
            "source_type" : "html",
            "supported_oembed_types" : [ "video" ]
          },
          hubspot_video={
            "height" : 1080,
            "player_id" : 57240514258,
            "player_type" : "hsvideo2",
            "size_type" : "auto_full_width",
            "width" : 1920
          },
          video_type="hubspot_video"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Big section overlay #}
  {% dnd_section
    background_color="rgba(255, 225, 0, 1)",
    padding={
      "default" : {
        "bottom" : "0px",
        "top" : "0px"
      }
    },
    margin={
      "default" : {
        "top" : "-8px"
      }
    },
    full_width=false
    %}
    {% dnd_column
      offset=0,
      width=12,
      background_color="rgba(71, 55, 99, 1)",
      padding={
        "default" : {
          "left" : "20px",
          "right" : "20px",
          "top" : "20px",
          "bottom" : "20px"
        }
      },
      margin={
        "default" : {
          "bottom" : "80px",
          "top" : "-80px"
        },
        "mobile" : {
          "bottom" : "40px",
          "top" : "40px"
        }
      }
    %}
      {% dnd_row
        vertical_alignment="MIDDLE",
        padding={
          "default" : {
            "bottom" : "30px",
            "top" : "30px"
          }
        }
      %}
        {% dnd_column
          offset=0,
          width=3,
          margin={
            "mobile" : {
              "bottom" : "20px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/linked_image",
              offset=0,
              width=12,
              horizontal_alignment="CENTER",
              img={
                "alt" : "projectmantra",
                "height" : 425,
                "loading" : "lazy",
                "max_height" : 374,
                "max_width" : 280,
                "size_type" : "auto_custom_max",
                "src" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/projectmantra.svg",
                "width" : 318
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=3,
          width=5
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h1 style="font-size: 50px; color: #ffe100; font-weight: 800;">QUIET THE MIND.<br>OPEN THE HEART.</h1>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <p style="font-size: 35px; color: #ffffff;">Spark new life into your daily routine with a 40-day guided meditation journey.</p>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=8,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/form",
              offset=0,
              width=12,
              form={
                "form_id" : "23e17cb8-e456-421b-97ba-8e369d1d8627",
                "form_type" : "HUBSPOT",
                "message" : "Thanks for submitting the form.",
                "redirect_url" : "http://www.google.com",
                "response_type" : "inline"
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section 50/50 bg image right #}
  {% dnd_section
    vertical_alignment="MIDDLE",
    background_color="rgba(0, 160, 175, 1)",
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    },
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    full_width=true
    %}
    {% dnd_column
      offset=0,
      width=6,
      padding={
        "mobile" : {
          "left" : "18px",
          "right" : "18px"
        }
      },
      margin={
        "mobile" : {
          "top" : "40px"
        }
      }
    %}
      {% dnd_row 
        vertical_alignment="MIDDLE"
      %}
        {% dnd_column
          offset=0,
          width=1,
          padding={
            "default" : {
              "left" : "0px",
              "right" : "0px"
            }
          },
          margin={
            "default" : {
              "bottom" : "0px",
              "top" : "80px"
            },
            "mobile" : {
              "top" : "0px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="../modules/ornemental-line",
              offset=0,
              width=12,
              direction="vertical",
              height=500,
              style={
                "size" : 23
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=1,
          width=11,
          padding={
            "default" : {
              "left" : "0px",
              "right" : "0px",
              "top" : "18px"
            }
          },
          margin={
            "mobile" : {
              "bottom" : "0px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h3 style="color: #ffe100;">WHAT IS PROJECT MANTRA</h3>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="../modules/list-mantra-icon",
              offset=0,
              width=12
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-project-mantra.jpg"
      },
      padding={
        "default" : {
          "bottom" : "100px",
          "left" : "0px",
          "right" : "0px",
          "top" : "100px"
        }
      }
    %}

    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section cards index #}
  {% dnd_section
    background_color="rgba(71, 55, 99, 1)",
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    }
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2><span style="color: #ffe100;">HOW DOES PROJECT MANTRA WORK ?</span></h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/ornemental-line",
          offset=0,
          width=12,
          direction="horizontal",
          style={
            "color_field" : {
              "color" : "#FFE100",
              "opacity" : 100
            },
            "size" : 23,
            "spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 100
                },
                "top" : {
                  "units" : "px",
                  "value" : -20
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            },
            "spacing_field" : {
              "margin" : {
                "bottom" : { },
                "top" : {
                  "units" : "px",
                  "value" : 68
                }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/card",
          offset=0,
          width=12,
          card=[ {
            "card_text" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'><span style='color: #473763;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.'</span></p>",
            "image" : {
              "loading" : "lazy"
            },
            "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
          }, {
            "card_text" : "<h3><span style='color: #ffe100;'>MAKE A DATE WITH THE DIVINE</span></h3>\n<p><span style='color: #473763;'><span style='font-size: 24px;'>You will start by chanting for 15 minutes per day and gradually build up your practice to 60 minutes per day. You’ll receive a series of emails that guide you through the 40-day practice</span>.</span></p>",
            "image" : {
              "loading" : "lazy"
            },
            "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
          }, {
            "card_text" : "<h3><span style='color: #ffe100;'>START CHANGING</span></h3>\n<p style='font-size: 24px;'><span style='color: #473763;'>It's easy, just chant !</span></p>",
            "image" : {
              "loading" : "lazy"
            },
            "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
          } ],
          show_index="yes",
          styles={
            "card" : {
              "background" : {
                "background_type" : "color",
                "color" : {
                  "color" : "#00A0AF",
                  "opacity" : 100
                }
              },
              "corner" : {
                "radius" : 1
              },
              "index" : { },
              "spacing" : {
                "spacing" : {
                  "margin" : {
                    "bottom" : { },
                    "top" : { }
                  },
                  "padding" : {
                    "bottom" : {
                      "units" : "px",
                      "value" : 80
                    },
                    "left" : {
                      "units" : "px",
                      "value" : 80
                    },
                    "right" : {
                      "units" : "px",
                      "value" : 40
                    },
                    "top" : {
                      "units" : "px",
                      "value" : 40
                    }
                  }
                }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section 50/50 bg image left #}
  {% dnd_section
    vertical_alignment="MIDDLE",
    background_color="rgba(0, 160, 175, 1)",
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    },
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    },
    full_width=true
    %}
    {% dnd_column
      offset=0,
      width=6,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-paramahamsa.jpg"
      },
      padding={
        "default" : {
          "bottom" : "100px",
          "left" : "0px",
          "right" : "0px",
          "top" : "100px"
        }
      }
    %}

    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6,
      padding={
        "mobile" : {
          "bottom" : "40px",
          "left" : "18px",
          "right" : "18px",
          "top" : "20px"
        }
      }
    %}
      {% dnd_row 
        vertical_alignment="MIDDLE"
      %}
        {% dnd_column
          offset=0,
          width=1,
          padding={
            "default" : {
              "left" : "0px",
              "right" : "0px"
            }
          },
          margin={
            "default" : {
              "bottom" : "0px",
              "top" : "80px"
            },
            "mobile" : {
              "top" : "0px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="../modules/ornemental-line",
              offset=0,
              width=12,
              direction="vertical",
              height=500,
              style={
                "size" : 23
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=1,
          width=11,
          padding={
            "default" : {
              "left" : "0px",
              "right" : "0px",
              "top" : "18px"
            }
          },
          margin={
            "mobile" : {
              "bottom" : "0px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <div style="max-width: 670px;">
                <p style="font-size: 36px; font-weight: 500;"><span style="color: #473763;">‘THE MORE YOU CHANT, THE MORE THE POWER OF THE MIND WILL DECREASE, THE MORE YOU WILL BE IN DIVINE BLISS, AND THE MORE YOUR HEART WILL OPEN UP TO DIVINE LOVE.’</span></p>
                <p style="font-size: 20px;"><span style="color: #473763;">PARAMAHAMSA VISHWANANDA</span></p>
                </div>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Section title + 3 text #}
  {% dnd_section
    background_color="rgba(255, 225, 0, 1)",
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    }
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2><span style="color: #473763;">BENEFITS OF MANTRA MEDITATION</span></h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/ornemental-line",
          offset=0,
          width=12,
          direction="horizontal",
          style={
            "color_field" : {
              "color" : "#473763",
              "opacity" : 100
            },
            "size" : 23,
            "spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 80
                },
                "top" : {
                  "units" : "px",
                  "value" : -20
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            },
            "spacing_field" : {
              "margin" : {
                "bottom" : { },
                "top" : {
                  "units" : "px",
                  "value" : 68
                }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_column
          offset=0,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h3 style="font-size: 36px;"><span style="color: #00a0af;"><strong>CALM</strong> THE OVER-ACTIVITY OF YOUR MIND</span></h3>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=4,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h2><span style="color: #00a0af; font-size: 36px;">INFUSE <strong>YOUR WHOLE BEING</strong> WITH THE VIBRATION OF DIVINE LOVE</span></h2>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=8,
          width=4
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h2 style="font-size: 36px;"><span style="color: #00a0af;">ESTABLISH A DAILY HABIT THAT WILL <strong>TRANSFORM </strong>YOUR CONSCIOUSNESS</span></h2>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Carousel testimonials #}
  {% dnd_section
    margin={
      "default" : {
        "bottom" : "10px",
        "top" : "10px"
      }
    }
    %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2>WHAT PEOPLE SAY</h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/ornemental-line",
          offset=0,
          width=12,
          direction="horizontal",
          style={
            "color_field" : {
              "color" : "#473763",
              "opacity" : 100
            },
            "size" : 23,
            "spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 80
                },
                "top" : {
                  "units" : "px",
                  "value" : -20
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            },
            "spacing_field" : {
              "margin" : {
                "bottom" : { },
                "top" : {
                  "units" : "px",
                  "value" : 68
                }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/carousel-testimonial",
          offset=0,
          width=12,
          testimonial=[ {
            "names" : "Tiziana, Country",
            "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
          }, {
            "names" : "Tiziana, Country",
            "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
          }, {
            "names" : "Tiziana, Country",
            "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
          } ]
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}