<!--
  templateType: page
  isAvailableForNewContent: true
  label: Thank you
  screenshotPath: ../images/template-previews/thank-you.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

    {# Hero text #}
    {% dnd_section
        padding={
        "default" : {
            "bottom" : "120px",
            "top" : "120px"
        },
        "mobile" : {
            "bottom" : "60px",
            "top" : "60px"
        }
        },
        full_width=false
        %}
        {% dnd_column
        offset=0,
        width=12,
        padding={
            "default" : {
            "left" : "0px",
            "right" : "0px"
            }
        }
        %}
        {% dnd_row %}
            {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
            %}
            {% module_attribute "html" %}
                <h1><span style="font-weight: 300;">THANK YOU</span></h1>
                <h2><span style="font-weight: 300;">SHORT LINE OF TEXT</span></h2>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

    {# Section img + text #}
    {% include_dnd_partial path="../sections/section-image-text.html" %}

{% end_dnd_area %}
{% endblock body %}