.carousel-testimonials .card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-left: 35px;
  position: relative;
}

.carousel-testimonials .card .icon{
  position: absolute;
  left: 0;
  top: 3px;
  width: 19px;
}

.carousel-testimonials .card .name{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2px;
}

.carousel-testimonials .splide__track{
  overflow: visible;
}

.carousel-testimonials .splide__list li{
  transition: opacity 100ms ease-in-out; 
}

.carousel-testimonials .splide__list li:not(.is-visible){
 opacity: .25; 
}

.carousel-testimonials .splide__pagination__page.is-active{
  background-color: #33475b;
}

@media screen and (max-width: 768px){
  .carousel-testimonials .card .name{
    font-size: 22px;
  }
  .carousel-testimonials .card .text,
  .carousel-testimonials .card .text *{
    font-size: 18px !important;
  }
}