{{ require_js("https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js", { position: "head", defer:false }) }}

<section class="carousel-testimonials splide">
  <div class="splide__track">
    <ul class="splide__list">
      {% for item in module.testimonial %}
        <li class="splide__slide">
          <div class="card">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="19.711" height="30.326" viewBox="0 0 19.711 30.326">
              <g transform="translate(0.5 29.826) rotate(-90)">
                <path id="Path_155" data-name="Path 155" d="M2506.142,973.091l7.31-6.615-7.31-6.615a11.121,11.121,0,0,0-14.62,0,8.739,8.739,0,0,0,0,13.23A11.119,11.119,0,0,0,2506.142,973.091Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
                <path id="Path_156" data-name="Path 156" d="M2502.339,971.516l5.736-5.04-5.736-5.04a8.922,8.922,0,0,0-11.47,0,6.535,6.535,0,0,0,0,10.08A8.92,8.92,0,0,0,2502.339,971.516Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
                <path id="Path_157" data-name="Path 157" d="M2494.2,969.852l4.071-3.376L2494.2,963.1a6.625,6.625,0,0,0-8.142,0,4.222,4.222,0,0,0,0,6.752A6.623,6.623,0,0,0,2494.2,969.852Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
              </g>
            </svg>
            <p class="name">{{ item.names }}</p>
            <p class="text">{{ item.text }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>