ul.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 0 10px 30px;
  margin: 0 auto;
  cursor: pointer;
}

ul.accordion-list li .question {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 5px;
  cursor: pointer;
}

ul.accordion-list li .question .question__icon{
  position: absolute;
  width: 14px;
  left: 0px;
  top: 15px;
  transform: rotate(90deg);
  transition: 300ms ease-in-out;
}

ul.accordion-list li .answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ul.accordion-list li .answer p {
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul.accordion-list li.active .question{
  font-weight: 600;
}

ul.accordion-list li.active .question__icon {
  transform: rotate(180deg);
}
