{{ require_js("https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js", { position: "head", defer:false }) }}

{% require_css %}
  <style>
    {% scope_css %}
    {% end_scope_css %}
  </style>
{% end_require_css %}
<ul class="accordion-list">
  {% for item in module.field_group %}
  <li>
    <div class="question">
      <svg class="question__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.711 30.326">
        <g id="Group_695" data-name="Group 695" transform="translate(0.5 29.826) rotate(-90)">
          <path id="Path_155" data-name="Path 155" d="M2506.142,973.091l7.31-6.615-7.31-6.615a11.121,11.121,0,0,0-14.62,0,8.739,8.739,0,0,0,0,13.23A11.119,11.119,0,0,0,2506.142,973.091Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
          <path id="Path_156" data-name="Path 156" d="M2502.339,971.516l5.736-5.04-5.736-5.04a8.922,8.922,0,0,0-11.47,0,6.535,6.535,0,0,0,0,10.08A8.92,8.92,0,0,0,2502.339,971.516Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
          <path id="Path_157" data-name="Path 157" d="M2494.2,969.852l4.071-3.376L2494.2,963.1a6.625,6.625,0,0,0-8.142,0,4.222,4.222,0,0,0,0,6.752A6.623,6.623,0,0,0,2494.2,969.852Z" transform="translate(-2484.371 -957.12)" fill="none" stroke="#002554" stroke-width="1"/>
        </g>
      </svg>
      {{ item.question }}
    </div>
    <div class="answer">
      <p>{{ item.answer }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
