/* Carousel / Slider splide.js */
.splide__slide{
    max-width: 100%;
}

.splide__arrows{
        display: flex;
        position: absolute;
        bottom: -45px;
        right: 0;
        height: 32px;
        justify-content: flex-end;
        align-items: center;
    }

    .splide__arrow {
        background-color: #FFFFFF !important;
        padding: 0 !important;
        border: 1px solid #DEEFFC;
        border-radius: 4px;
        width: 32px;
        height: 32px;
    }

    .splide__arrow svg{
        position: absolute;
        top: calc(50% + 10px);
        left: calc(50% + 14px);
        transform: translate(-50%,-50%);
    }

    .splide__arrow svg path{
        transition: all 150ms linear;
    }

    .splide__arrow--prev{
        margin-right: 8px;
    }

    .splide__arrow--next{
        margin-left: 8px;
        transform: rotate(180deg);
        transform-origin: center;
    }

    .splide__arrow:disabled{
        border: 1px solid #DEEFFC;
        cursor: initial !important;
    }

    .splide__arrow:disabled svg path,
    .splide__arrow:disabled:hover svg path{
        fill: #DEEFFC !important;
    }

.splide__pagination{
        counter-reset: pagination-num;
        height: 32px;
        margin: 0 30px !important;
        padding: 0;
        justify-content: flex-start !important;
        gap: 3px;
    }

    .splide__pagination__page:before{
        counter-increment: pagination-num;
        content: counter( pagination-num );
        display: none;
    }

    .splide__pagination li:not(:last-child){
        margin: 0 1px;
    }

    .splide__pagination__page{
        background-color: rgba(51, 71, 91, .5);
        padding: 0 !important;
        border: none;
        border-radius: 1px;
        width: 40px;
        height: 3px;
        color: #0a497a;
        text-align: center;
        transition: background 200ms ease-in-out;
        font-size: 14px;
        font-weight: 600 !important;
    }

    .splide__pagination__page:hover{
        background-color: rgba(51, 71, 91, .75);
        color: #0a497a;
    }

    .splide__pagination__page.is-active{
        background-color: rgba(51, 71, 91, 1);
        color: #0a497a;
    }

    .splide__pagination__page.is-active:hover{
        cursor: initial;
    }