<!--
  templateType: global_partial
  label: Main header
-->
<header id="main-header" class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  <a href="#main-content" class="header__skip">Skip to content</a>

  {# Main header #}
  <div class="header__container">

    {# Header logo #}
    <div class="header__logo header__logo--main">
      {% module "site_logo" path="@hubspot/logo" %}
    </div>

    {# Header content #}
    <div class="header__content">

        {# Header navigation menu #}
        <div class="header__menu">
            <div class="header__navigation header--element">
                {% module "navigation-primary" path="../../modules/menu-header", label="Main menu" %}
            </div>
            <div class="header__shop">
                
            </div>
        </div>

        {# 
        <div class="header--toggle header__navigation--toggle"></div>
        <div class="header__close--toggle"></div> 
        #}

    </div>

    {# Header toggle #}
    <div class="header__mobile-toggle">
        <div class="header__mobile-toggle__btn"></div>
    </div>

  </div>
  
</header>
