<!--
  templateType: global_partial
  label: Header no navigation
-->
<header id="main-header" class="header header-no-navigation">

  {# Main header #}
  <div class="header__container">

    {# Logo #}

    <div class="header__logo">
      {% module "site_logo" path="@hubspot/logo" %}
    </div>

  </div>

</header>