<!--
  templateType: section
  label: Hero text anchor + big text
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/hero-big-text.jpg
  description: "Hero with anchor text and big text bottom."
-->

{% dnd_section
background_linear_gradient={
  "colors" : [ "rgba(0, 156, 193, 1)", "rgba(0, 156, 193, 0.5)" ],
  "direction" : "to right"
},
padding={
  "default" : {
    "bottom" : "0px",
    "top" : "120px"
  },
  "mobile" : {
    "top" : "60px"
  }
}
%}
{% dnd_column
  offset=0,
  width=12,
  padding={
    "default" : {
      "left" : "0px",
      "right" : "0px"
    }
  }
%}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12,
      margin={
        "default" : {
          "bottom" : "100px"
        },
        "mobile" : {
          "bottom" : "60px"
        }
      }
    %}
      {% module_attribute "html" %}
        <h1 style="margin-bottom: 0;"><span style="color: #ffffff;">Thank you for sending us your prayer request.</span></h1>
        <h2><span style="color: #ffffff; font-size: 36px; font-weight: 300;">Your name and prayer will be adding in our daily OM Chantings at Shree Peetha Nilaya.</span></h2>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12,
      margin={
        "default" : {
          "bottom" : "60px"
        },
        "mobile" : {
          "bottom" : "60px"
        }
      }
    %}
      {% module_attribute "html" %}
        <h2><span style="color: #ffffff; font-weight: 300;">WHAT’S NEXT ?!</span></h2>
        <div><a href="#anchor-next" rel="noopener"><span style="color: #ffffff;"><span data-hs-icon-hubl="true" style="display: block; margin-left: 80px; margin-right: auto; fill: #FFFFFF;">{% icon icon_set="fontawesome-5.14.0" name="chevron-down" style="SOLID" height="30" purpose="decorative" title="chevron-down icon" %}</span></span></a></div>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12
    %}
      {% module_attribute "html" %}
        <a id="anchor-next" data-hs-anchor="true"></a>
        <h3 style="font-size: 5.5vw; font-weight: 900; margin-bottom: -1.5vw; white-space: nowrap; overflow: hidden;"><span style="color: #ffffff; line-height: 0;">TAKE YOUR NEXT STEPS <span style="font-size: 200%;">…</span></span></h3>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}