<!--
  templateType: section
  label: Hero full height
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/hero-full-height.jpg
  description: "Full size background section with texts."
-->
  {% dnd_section
    class="hero-fulll-height",
    background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/Imported%20sitepage%20images/header2bhaktimargahelpcentre.jpg"
    },
    padding={
        "default" : {
        "bottom" : "120px",
        "top" : "120px"
        },
        "mobile" : {
        "bottom" : "80px",
        "top" : "80px"
        }
    },
    full_width=false
    %}
    {% dnd_column
        offset=0,
        width=12
    %}
        {% dnd_row %}
        {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
        %}
            {% module_attribute "html" %}
            <h1 style="color: #00a0af; font-weight: 400; text-shadow: 1px 1px 0 rgba(0,0,0,.25);">Bhakti Marga Help Center</h1>
            {% end_module_attribute %}
        {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
        {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
        %}
            {% module_attribute "html" %}
            <p><span style="color: #ffffff; text-shadow: 1px 1px 0 rgba(0,0,0,.25);">PLEASE SELECT THE AREA YOU NEED HELP WITH:</span></p>
            {% end_module_attribute %}
        {% end_dnd_module %}
        {% end_dnd_row %}
    {% end_dnd_column %}
    {% end_dnd_section %}
