<!--
  templateType: section
  label: Contact information
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/contact.jpg
  description: "COntact information with background"
-->

{% dnd_section
background_color="rgba(0, 37, 84, 1)",
margin={
  "default" : {
    "bottom" : "10px"
  }
}
%}
{% dnd_column
  offset=0,
  width=12
%}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12
    %}
      {% module_attribute "html" %}
        <h2><span style="color: #009cc1;">CONTACT US</span></h2>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="../modules/ornemental-line",
      offset=0,
      width=12,
      style={
        "color_field" : {
          "color" : "#009CC1",
          "opacity" : 100
        },
        "spacing" : {
          "margin" : {
            "bottom" : {
              "units" : "px",
              "value" : 40
            },
            "top" : { }
          },
          "padding" : {
            "bottom" : {
              "units" : "px",
              "value" : 0
            },
            "left" : {
              "units" : "px",
              "value" : 0
            },
            "right" : {
              "units" : "px",
              "value" : 0
            },
            "top" : {
              "units" : "px",
              "value" : 0
            }
          }
        }
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_column
      offset=0,
      width=5
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <p style="color: #ffffff;">Bhakti Marga <br>c/o Shree Peetha Nilaya <br>Am Geisberg 1-8 <br>65321 Heidenrod-Springen <br>Germany</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=5,
      width=7
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <p style="color: #ffffff;"><span style="font-weight: 500;">Call :</span> Tue-Sat 14:00–17:00<br><span style="font-weight: 500;">Landline :</span> +49 (0) 6124 6059000<br><span style="font-weight: 500;">Fax Number :</span> +49 (0) 6124 6059161</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}