<!--
  templateType: section
  label: Quote text
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/quote.jpg
  description: "Quote text."
-->
{% dnd_section
background_color="rgba(0, 160, 175, 0.88)",
margin={
  "default" : {
    "bottom" : "10px",
    "top" : "10px"
  }
}
%}
{% dnd_column
  offset=0,
  width=12
%}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12
    %}
      {% module_attribute "html" %}
        <p><span style="font-size: 60px;"><span data-hs-icon-hubl="true" style="display: inline-block; fill: #FFFFFF;">{% icon icon_set="fontawesome-5.14.0" name="quote-left" style="SOLID" height="60" purpose="decorative" title="quote-left icon" %}</span></span></p>
        <p><span style="font-size: 50px; color: #ffffff; line-height: 1.2;">‘It is very important to pray, because it releases the mind from mental tragedy and diverts it to something higher… Prayer is about you and God connecting through love.’ </span></p>
        <p><span style="color: #ffffff;">– Paramahamsa Vishwananda</span></p>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}