<!--
  templateType: section
  label: Full image background + Content text
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/image-text.jpg
  description: "Full section with image cover left and content text."
-->

{% dnd_section
vertical_alignment="MIDDLE",
class="lsp-column",
padding={
"default" : {
    "bottom" : "0px",
    "left" : "0px",
    "right" : "0px",
    "top" : "60px"
},
"mobile" : {
    "top" : "0px"
}
},
margin={
"default" : {
    "bottom" : "10px"
}
},
full_width=true
%}
{% dnd_column
offset=0,
width=6,
background_image={
    "background_position" : "MIDDLE_CENTER",
    "background_size" : "cover",
    "image_url" : "https://26635050.fs1.hubspotusercontent-eu1.net/hubfs/26635050/picture-paramahamsa.jpg"
},
padding={
    "default" : {
    "bottom" : "100px",
    "left" : "0px",
    "right" : "0px",
    "top" : "100px"
    }
}
%}

{% end_dnd_column %}
{% dnd_column
offset=6,
width=6,
background_color="rgba(187, 157, 90, 0.88)",
padding={
    "default" : {
    "bottom" : "100px",
    "left" : "80px",
    "right" : "80px",
    "top" : "100px"
    },
    "mobile" : {
    "bottom" : "40px",
    "left" : "24px",
    "right" : "24px",
    "top" : "40px"
    }
}
%}
{% dnd_row %}
    {% dnd_module
    path="@hubspot/rich_text",
    offset=0,
    width=12
    %}
    {% module_attribute "html" %}
        <p><span style="font-size: 60px;"><span data-hs-icon-hubl="true" style="display: inline-block; fill: #33475B;">{% icon icon_set="fontawesome-5.14.0" name="quote-left" style="SOLID" height="60" purpose="decorative" title="quote-left icon" %}</span></span></p>
        <p>‘It is very important to pray, because it releases the mind from mental tragedy and diverts it to something higher… Prayer is about you and God connecting through love.’</p>
        <p><span style="color: #d5ccbb;">– Paramahamsa Vishwananda</span></p>
    {% end_module_attribute %}
    {% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}