<!--
  templateType: section
  label: Carousel testimonial
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/carousel-testimonial.jpg
  description: "Carousel reviews"
-->
{% dnd_section
margin={
  "default" : {
    "bottom" : "10px",
    "top" : "10px"
  }
}
%}
{% dnd_column
  offset=0,
  width=12
%}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12
    %}
      {% module_attribute "html" %}
        <h2>WHAT PEOPLE SAY</h2>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="../modules/ornemental-line",
      offset=0,
      width=12,
      direction="horizontal",
      style={
        "color_field" : {
          "color" : "#473763",
          "opacity" : 100
        },
        "size" : 23,
        "spacing" : {
          "margin" : {
            "bottom" : {
              "units" : "px",
              "value" : 80
            },
            "top" : {
              "units" : "px",
              "value" : -20
            }
          },
          "padding" : {
            "bottom" : {
              "units" : "px",
              "value" : 0
            },
            "left" : {
              "units" : "px",
              "value" : 0
            },
            "right" : {
              "units" : "px",
              "value" : 0
            },
            "top" : {
              "units" : "px",
              "value" : 0
            }
          }
        },
        "spacing_field" : {
          "margin" : {
            "bottom" : { },
            "top" : {
              "units" : "px",
              "value" : 68
            }
          }
        }
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="../modules/carousel-testimonial",
      offset=0,
      width=12,
      testimonial=[ {
        "names" : "Tiziana, Country",
        "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
      }, {
        "names" : "Tiziana, Country",
        "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
      }, {
        "names" : "Tiziana, Country",
        "text" : "<span style='font-size: 24px;'>“Reciting the mantra made me enjoy a state of well-being that is not easy to translate into words. If I was calm, reciting the mantra was producing a smile. If I was agitated, or anxious or worried and afraid, the mantra helped me remain calm and change point of view, giving importance to the ‘right things’.”</span>"
      } ]
    %}
    {% end_dnd_module %}
  {% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}