<!--
  templateType: section
  label: Links list + FAQ & Form
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/FAQ.jpg
  description: "List + FAQ & Form"
-->
{% dnd_section %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          offset=0,
          width=12
        %}
          {% module_attribute "html" %}
            <h2><span style="color: #00a0af;">Bhakti Marga Help Center</span></h2>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/ornemental-line",
          offset=0,
          width=12,
          style={
            "color_field" : {
              "color" : "#00A0AF",
              "opacity" : 100
            },
            "size" : 23,
            "spacing" : {
              "margin" : {
                "bottom" : { },
                "top" : { }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row
        background_color="rgba(223, 229, 235, 1)",
        margin={
          "default" : {
            "top" : "40px"
          },
          "mobile" : {
            "top" : "0px"
          }
        }
      %}
        {% dnd_column
          offset=0,
          width=5,
          background_color="rgba(0, 37, 84, 1)",
          padding={
            "default" : {
              "bottom" : "60px",
              "left" : "80px",
              "right" : "80px",
              "top" : "60px"
            },
            "mobile" : {
              "bottom" : "20px",
              "left" : "20px",
              "right" : "20px",
              "top" : "20px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <p><span style="color: #009cc1; font-weight: 400;">NEW TO BHAKTI MARGA </span><br><span style="color: #ffffff;"><a href="https://bhaktimarga.org/my-account/" rel="noopener" style="color: #ffffff;">New to Bhakti Marga</a></span></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">EVENT</span><br><span style="color: #ffffff;"><a href="https://pages.bhaktimarga.org/help-centre#OnlineEvents" rel="noopener" style="color: #ffffff;">Online Events</a></span> <br><span style="color: #ffffff;"><a href="https://pages.bhaktimarga.org/help-centre#PhysicalEvents" rel="noopener" style="color: #ffffff;">In-Person Events</a></span> <br><a href="https://bhaktimarga.org/darshan-schedule/" rel="noopener"><span style="color: #ffffff;">Online Darshans</span></a></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">SHREE PEETHA NILAYA</span><br><span style="color: #ffffff;"><a href="mailto:registration@bhaktimarga.org" rel="noopener" style="color: #ffffff;">Room Reservations</a></span> <br><span style="color: #ffffff;"></span></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">TECHNICAL SUPPORT</span><br><span style="color: #ffffff;"><a href="https://blog.bhaktimarga.org/?hsLang=en" rel="noopener" style="color: #ffffff;">Bhakti ID / Website issues</a></span></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">BHAKTISHOP</span><br><span style="color: #ffffff;"><a href="https://bhaktimarga.org/bhaktishop/" rel="noopener">Products / Purchases</a></span><br><span style="color: #ffffff;"><a href="https://bhaktimarga.org/bhaktishop/" rel="noopener" style="color: #ffffff;">Online Courses</a></span></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">SUBSCRIPTIONS</span><br><span style="color: #ffffff;"><a href="https://bhaktimarga.org/darshan-schedule/" rel="noopener" style="color: #ffffff;">Guru Connect</a></span> <br><span style="color: #ffffff;"><a href="https://bhaktimarga.org/darshan-schedule/" rel="noopener" style="color: #ffffff;">Serve a Deity</a></span> <br><a href="https://bhaktimarga.org/darshan-schedule/" rel="noopener"><span style="color: #ffffff;">Donations</span></a></p>
                <br>
                <p><span style="color: #009cc1; font-weight: 400;">MEDIA</span><br><span style="color: #ffffff;"><a href="https://pages.bhaktimarga.org/help-centre#OnlineEvents" rel="noopener" style="color: #ffffff;">Media &amp; Press Requests</a></span></p>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column
          offset=5,
          width=7,
          padding={
            "default" : {
              "bottom" : "60px",
              "left" : "80px",
              "right" : "80px",
              "top" : "60px"
            },
            "mobile" : {
              "bottom" : "20px",
              "left" : "20px",
              "right" : "20px",
              "top" : "20px"
            }
          }
        %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h2>Frequently asked Questions</h2>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="../modules/FAQ",
              offset=0,
              width=12,
              field_group=[ {
                "answer" : "The answer to this question goes right here, below the question.",
                "question" : "Question"
              }, {
                "answer" : "The answer to this question goes right here, below the question.",
                "question" : "Question"
              }, {
                "answer" : "The answer to this question goes right here, below the question.",
                "question" : "Question"
              }, {
                "answer" : "The answer to this question goes right here, below the question.",
                "question" : "Question"
              }, {
                "answer" : "The answer to this question goes right here, below the question.",
                "question" : "Question"
              } ]
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              offset=0,
              width=12
            %}
              {% module_attribute "html" %}
                <h2><span style="color: #009cc1;">Guru Connect</span><br>What can we help you with?</h2>
                <p>You can have some text here if you want.</p>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/form",
              offset=0,
              width=12
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}