<!--
  templateType: section
  label: Cards index
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/cards-index.jpg
  description: "Cards list with index number"
-->
{% dnd_section
background_color="rgba(71, 55, 99, 1)",
margin={
  "default" : {
    "bottom" : "10px",
    "top" : "10px"
  }
}
%}
{% dnd_column
  offset=0,
  width=12
%}
  {% dnd_row %}
    {% dnd_module
      path="@hubspot/rich_text",
      offset=0,
      width=12
    %}
      {% module_attribute "html" %}
        <h2><span style="color: #ffe100;">HOW DOES PROJECT MANTRA WORK ?</span></h2>
      {% end_module_attribute %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="../modules/ornemental-line",
      offset=0,
      width=12,
      direction="horizontal",
      style={
        "color_field" : {
          "color" : "#FFE100",
          "opacity" : 100
        },
        "size" : 23,
        "spacing" : {
          "margin" : {
            "bottom" : {
              "units" : "px",
              "value" : 100
            },
            "top" : {
              "units" : "px",
              "value" : -20
            }
          },
          "padding" : {
            "bottom" : {
              "units" : "px",
              "value" : 0
            },
            "left" : {
              "units" : "px",
              "value" : 0
            },
            "right" : {
              "units" : "px",
              "value" : 0
            },
            "top" : {
              "units" : "px",
              "value" : 0
            }
          }
        },
        "spacing_field" : {
          "margin" : {
            "bottom" : { },
            "top" : {
              "units" : "px",
              "value" : 68
            }
          }
        }
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_row %}
  {% dnd_row %}
    {% dnd_module
      path="../modules/card",
      offset=0,
      width=12,
      card=[ {
        "card_text" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'><span style='color: #473763;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.'</span></p>",
        "image" : {
          "loading" : "lazy"
        },
        "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
      }, {
        "card_text" : "<h3><span style='color: #ffe100;'>MAKE A DATE WITH THE DIVINE</span></h3>\n<p><span style='color: #473763;'><span style='font-size: 24px;'>You will start by chanting for 15 minutes per day and gradually build up your practice to 60 minutes per day. You’ll receive a series of emails that guide you through the 40-day practice</span>.</span></p>",
        "image" : {
          "loading" : "lazy"
        },
        "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
      }, {
        "card_text" : "<h3><span style='color: #ffe100;'>START CHANGING</span></h3>\n<p style='font-size: 24px;'><span style='color: #473763;'>It's easy, just chant !</span></p>",
        "image" : {
          "loading" : "lazy"
        },
        "richtext_field" : "<h3><span style='color: #ffe100;'>YOUR MANTRA </span></h3>\n<p style='font-size: 24px;'>Over the course of 40 days, you will chant the mantra ‘om namo narayanaya.’</p>"
      } ],
      show_index="yes",
      styles={
        "card" : {
          "background" : {
            "background_type" : "color",
            "color" : {
              "color" : "#00A0AF",
              "opacity" : 100
            }
          },
          "corner" : {
            "radius" : 1
          },
          "index" : { },
          "spacing" : {
            "spacing" : {
              "margin" : {
                "bottom" : { },
                "top" : { }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 80
                },
                "left" : {
                  "units" : "px",
                  "value" : 80
                },
                "right" : {
                  "units" : "px",
                  "value" : 40
                },
                "top" : {
                  "units" : "px",
                  "value" : 40
                }
              }
            }
          }
        }
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}