/* Menu */

.menu--desktop {
  display: block;
  height: 100%;
}

.menu--mobile {
  display: none;
}

.menu--desktop .menu__wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Menu items */

.menu__item {
  position: relative;
  cursor: pointer;
}

.menu__link {
  font-size: 0.917rem;
  line-height: 1.667rem;
  text-decoration: none;
  height: 100%;
  font-weight: 400 !important;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  text-decoration: none;
  color: currentColor;
}

/* Menu items - top level */

.menu__item--depth-1{
  display: inline-block;
  height: 100%;
  padding: 0;
}

.menu__item--depth-1 > a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
}

/* Menu items - submenus */

.menu__submenu {
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) !important;
  text-align: left;
  text-transform: none;
  top: 100%;
  width: 300px;
  z-index: 99;
  padding: 16px !important;
}

.menu__item--has-submenu:last-child .menu__submenu{
  left: inherit;
  transform: none !important;
  right: 0;
}

.menu__item--open > .menu__submenu {
  opacity: 1;
  transition: opacity .3s;
  visibility: visible;
}

.menu__submenu > li:not(:last-child){
  margin-bottom: 14px;
}

.menu__submenu .label-lvl-2{
  position: relative;
  padding-left: 25px;
  font-weight: 400 !important;
}

.menu__submenu .label-lvl-2::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 7px;
  height: 7px;
  border-style: solid;
  border-width: 2px 0 0 2px;
  display: inline-block;
  transform: translate3d(0,-50%,0) rotate(-45deg);
  border-radius: 1px;
}

.menu__submenu .label-lvl-3{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400 !important;
}

.menu__item--depth-2__content{
  width: 100%;
  min-height: 62px;
  position: relative; 
  padding-left: 74px;
  transition: all 200ms ease-in-out; 
}

.menu__item--depth-2__content img{
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 3px;
  transition: left 200ms ease-in-out; 
}

.menu__item--depth-2__content:hover{ 
  padding-left: 77px;
}

.menu__item--depth-2 .menu__child-toggle.no-button{
  display: block;
}


/* Keeps the first menu item's drop down menu aligned to the left of the top level menu item */

.menu__item--depth-1:first-child .menu__submenu--level-2 {
  transform: unset;
}

.menu__submenu .menu__item {
  padding: 0;
  width: 100%;
}

.menu__submenu .menu__link {
  display: block;
  transition: background-color 0.3s;
  width: 100%;
}

.menu__submenu .menu__link p{
  margin-bottom: 0;
}

.menu__submenu--level-3 {
  left: 100%;
  top: 0;
}

/* Flyouts for the last two top level menu items go left to keep page responsive */

.menu__item--depth-1:nth-last-child(-n+2) .menu__submenu--level-3 {
  left: auto;
  right: 100%;
  top: 0;
}

@media (max-width: 1150px) {
  .menu__item--depth-1 {
    padding: 0.7rem 0.5rem;
  }
}

@media (max-width: 1024px) {

  .menu--desktop{
    width: 100%;
  }
  
  .menu--desktop .menu__wrapper{
    flex-direction: column;
  }

  .menu__submenu{
    left: inherit;
    right: 0;
    top: 0;  
    background-color: transparent !important;
    box-shadow: none;
  }

  .menu__submenu .label-lvl-2{
    display: none;
  }

  .menu__item--depth-1{
    display: block;
    width: 100%;
    position: inherit;
  }

  .menu__item--has-submenu.menu__item--depth-1::before{
    display: none;
  }

  .menu__item--has-submenu.menu__item--depth-1 > .menu__link--toggle::after{
    content: "";
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    display: inline-block;
    transform: rotate(135deg);
    border-radius: 1px;
    margin: auto 0 1px 6px;
  }

  .menu__submenu>li:not(:last-child) {
    margin-bottom: 2px;
  }

  /* .menu--desktop {
    display: none;
  }

  .menu--mobile {
    display: block;
  }

  .menu__item {
    display: block;
    width: 100%;
  }

  .menu__link {
    display: block;
    font-size: 1.083rem;
  }

  .menu__item--depth-1 {
    border-top: 2px solid #CED4DB;
    padding: 0;
  }

  .menu__item--depth-1 > .menu__link {
    padding: 0.35rem 1.225rem;
  }

  .menu__item--depth-1 > .menu__link--active-link:after {
    content: none;
  }

  .menu__submenu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: static;
    transform: unset;
    width: 100%;
  }

  .menu__submenu .menu__item {
    background-color: #FFF;
    border-bottom: none;
    border-top: 2px solid #EBEFF3;
    padding: 0;
  }

  .menu__submenu .menu__link {
    display: block;
    transition: none;
    width: 100%;
  }

  .menu__submenu .menu__item .menu__link:hover,
  .menu__submenu .menu__item .menu__link:focus {
    background-color: inherit;
    transition: none;
  }

  .menu__item--has-submenu > .menu__link {
    width: 70%;
  }

  .menu__child-toggle {
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    height: 55px;
    padding: 15px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }

  .menu__child-toggle-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjOTc5ODlGIiBzdHJva2Utd2lkdGg9IjIuNCIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB4PSIxLjIiIHk9IjkuNiIgd2lkdGg9IjE2LjgiIGhlaWdodD0iMSIgcng9Ii41Ii8+PHJlY3QgdHJhbnNmb3JtPSJyb3RhdGUoOTAgOS42IDkuNikiIHg9IjEuMiIgeT0iOS42IiB3aWR0aD0iMTYuOCIgaGVpZ2h0PSIxIiByeD0iLjUiLz48L2c+PC9zdmc+);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    margin-left: auto;
    margin-right: 1.05rem;
    transition: transform 0.4s;
    width: 20px;
  }

  .menu__item--open > .menu__child-toggle .menu__child-toggle-icon {
    transform: rotate(45deg);
    transition: transform 0.4s;
  } */
}


@media (min-width: 768px) and (max-width: 1024px) {

  .menu__item--depth-1 > .menu__link{
    max-width: 23%;
    display: inline-block;
  }

  .menu__item--depth-1 .menu__submenu--level-2 {
      transform: unset;
      box-shadow: none;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      left: inherit;
      right: 0;
      top: -10px;
      width: 75%;
      height: 100%;
      max-height: 100%;
  }

  /* .menu__item--depth-1.menu__item--has-submenu:first-child .menu__submenu--level-2{
    opacity: 1;
    visibility: visible;
  } */

}

@media screen and (max-width: 768px) {

  .menu__submenu {
    position: inherit;
    padding: 10px 0 0!important;
    display: none;
    transition: none;
    width: auto;
  }

  .menu__item--open > .menu__submenu{
    display: block;
  }

  /* .menu__submenu .menu__child-toggle {
    margin-left: auto;
    padding: 0 1.05rem;
  }

  .menu__child-toggle {
    position: absolute;
    right: 5px;
    top: 30px;
    z-index: 2;
  }

  .menu__item--depth-1 > .menu__child-toggle {
    position: static;
    right: 0;
    top: 0;
    vertical-align: middle;
  }

  .menu__child-toggle-icon {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top-style: solid;
    border-top-width: 7px;
    display: block;
    height: 0;
    margin-left: 1px;
    width: 0;
  } */
}

