{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Menu items - top level #}
      {% if module.styles.main.font %}
        .menu__link{
          font-family: {{ module.styles.main.font.font }};
          color: {{ module.styles.main.font.color }};
          font-size: {{ module.styles.main.font.size ~ module.styles.main.font.size_unit }};
          font-weight: {{ module.styles.main.font.variant }};
        }
        
        .menu__child-toggle-icon {
          border-top-color: {{ module.styles.main.font.color }};
        }
      {% endif %}
      {% if module.styles.main.transform %}
        .menu__link{
          text-transform: {{ module.styles.main.transform }};        
        }
      {% endif %}

      {# Menu items - second level #}
      {% if module.styles.main.submenu_font %}
        .label-lvl-2{
          font-family: {{ module.styles.main.submenu_font.font }};
          color: {{ module.styles.main.submenu_font.color }};
          font-size: {{ module.styles.main.submenu_font.size ~ module.styles.main.submenu_font.size_unit }};
          font-weight: {{ module.styles.main.submenu_font.variant }};
        }
      {% endif %}
      {% if module.styles.main.submenu_transform %}
        .menu__link{
          text-transform: {{ module.styles.main.submenu_transform }};        
        }
      {% endif %}

      {# Menu items - submenus #}
      .menu .menu__submenu {
        {{ module.styles.drop_downs.border.border.css }}
        {% if module.styles.drop_downs.background.color.color %}
          background-color: rgba({{ module.styles.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.drop_downs.background.color.opacity / 100 }});
        {% endif %}
      }

      .menu__submenu .menu__link,
      .menu__submenu .menu__link:hover,
      .menu__submenu .menu__link:focus {
        {% if module.styles.drop_downs.background.color.color %}
          background-color: rgba({{ module.styles.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.drop_downs.background.color.opacity / 100 }});
        {% endif %}
        {% if module.styles.drop_downs.text.font %}
          font-family: {{ module.styles.drop_downs.text.font.font }};
          color: {{ module.styles.drop_downs.text.font.color }};
          font-size: {{ module.styles.drop_downs.text.font.size ~ module.styles.drop_downs.text.font.size_unit }};
          font-weight: {{ module.styles.drop_downs.text.font.variant }};
        {% endif %}
      }

      .menu__submenu .menu__child-toggle-icon,
      .menu__submenu .menu__child-toggle-icon:hover,
      .menu__submenu .menu__child-toggle-icon:focus {
        {% if module.styles.drop_downs.font.color %}
          border-top-color: {{ module.styles.drop_downs.font.color }};
        {% endif %}
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}

{% macro menu_items() %}

  {% set menu = menu(module.menu, "site_root").children %}

  {% macro render_link_item(link, depth) %}
    <li class="menu__item menu__item--depth-{{ depth }} {{ "menu__item--has-submenu" if link.children and depth < module.max_levels }} hs-skip-lang-url-rewrite">
      
      {% if link.url %}
        <a class="menu__link {{ "menu__link--toggle" if link.children and depth < module.max_levels }} {{ "menu__link--active-branch" if link.activeBranch }} {{ "menu__link--active-link" if link.activeNode }}" href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children and depth < module.max_levels }} {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>
          {% if depth and depth < module.max_levels and depth == '2'%}
            <button class="menu__child-toggle no-button" aria-expanded="false">
              <span class="show-for-sr">Show submenu for {{ link.label }}</span>
            </button>
            {% if link.children %}
              {% set depth = depth + 1 %}
              <div class="menu__item--depth-2__content">
                {{ link.label }}
                {% for sublink in link.children %}
                  <p class="label-lvl-3">{{ sublink.label }}</p>
                {% endfor %}
              </div>
            {% else %}
              {{ link.label }}
            {% endif %}
          {% else %}
            {{ link.label }}
          {% endif %}
        </a>
      {% else %}
        {% if link.children and depth < module.max_levels %}
          <a class="menu__link menu__link--toggle" aria-haspopup="true" aria-expanded="false" aria-disabled="true">{{ link.label }}</a>
        {% else %}
          <span class="menu__link">{{ link.label }}</span>
        {% endif %}
      {% endif %}

      {% if link.children %}

        {% if depth and depth < module.max_levels %}
          <button class="menu__child-toggle no-button" aria-expanded="false">
            <span class="show-for-sr">Show submenu for {{ link.label }}</span>
          </button>
          <ul class="menu__submenu menu__submenu--level-{{ depth + 1 }} no-list">
            <li class="label-lvl-2">{{ link.label }}</li>
            {% set depth = depth + 1 %}
            {% if depth and depth != module.max_levels %}
              {% for sublink in link.children %}
                {{ render_link_item(sublink, depth) }}
              {% endfor %}
            {% endif %}
          </ul>

        {% endif %}
        
      {% endif %}
    </li>
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}

{% endmacro %}

{# Desktop menu #}

<nav class="menu menu--desktop" aria-label="Main menu">
  <ul class="menu__wrapper no-list">
    {{ menu_items() }}
  </ul>
</nav>

{# Mobile menu #}

<nav class="menu menu--mobile" aria-label="Main menu">
  <ul class="menu__wrapper no-list">
    {{ menu_items() }}
  </ul>
</nav>
