{% require_css %}
  <style>
    {% scope_css %}
      .list-mantra .puce{
        top: {{ module.style.icon_top_position }}px
      }
      .list-mantra .puce path{
         fill:  {{ module.style.font_field.color }};
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}
<ul class="list-mantra">
  {% for item in module.text %}
  <li>
    <span style="{{ module.style.font_field.style }}; color: {{ module.style.font_field.color }}; font-size: {{ module.style.font_field.size }}px;">{{ item }}</span>
    <svg class="puce" xmlns="http://www.w3.org/2000/svg" width="22.843" height="22.844" viewBox="0 0 22.843 22.844">
      <g id="Group_998" data-name="Group 998" transform="translate(-65.868)">
        <g id="Group_989" data-name="Group 989" transform="translate(65.868)">
          <path id="Path_1332" data-name="Path 1332" d="M105.439,57.948a6.62,6.62,0,0,0,2.058.626,6.61,6.61,0,0,0,1.013-1.9,7.034,7.034,0,0,1-2.056-.621,6.967,6.967,0,0,1-1.015,1.893" transform="translate(-91.705 -36.6)" fill="#473763"/>
          <path id="Path_1333" data-name="Path 1333" d="M83.264,56.676a6.613,6.613,0,0,0,1.013,1.9,6.632,6.632,0,0,0,2.058-.626,6.967,6.967,0,0,1-1.015-1.893,7.041,7.041,0,0,1-2.056.621" transform="translate(-77.226 -36.6)" fill="#473763"/>
          <path id="Path_1334" data-name="Path 1334" d="M70.891,19.834a6.945,6.945,0,0,1-.621-2.056,6.616,6.616,0,0,0-1.9,1.013A6.617,6.617,0,0,0,69,20.849a6.963,6.963,0,0,1,1.893-1.014" transform="translate(-67.504 -11.608)" fill="#473763"/>
          <path id="Path_1335" data-name="Path 1335" d="M69,39.954a6.624,6.624,0,0,0-.626,2.058,6.615,6.615,0,0,0,1.9,1.012,6.953,6.953,0,0,1,.621-2.056A6.946,6.946,0,0,1,69,39.954" transform="translate(-67.504 -26.087)" fill="#473763"/>
          <path id="Path_1336" data-name="Path 1336" d="M86.335,3.513a6.649,6.649,0,0,0-2.058-.625,6.607,6.607,0,0,0-1.013,1.9,7.063,7.063,0,0,1,2.056.622,6.963,6.963,0,0,1,1.015-1.893" transform="translate(-77.226 -1.886)" fill="#473763"/>
          <path id="Path_1337" data-name="Path 1337" d="M121.922,40.587a6.994,6.994,0,0,1,.622,2.056,6.642,6.642,0,0,0,1.9-1.013,6.648,6.648,0,0,0-.625-2.058,6.972,6.972,0,0,1-1.894,1.015" transform="translate(-102.467 -25.837)" fill="#473763"/>
          <path id="Path_1338" data-name="Path 1338" d="M123.816,20.467a6.633,6.633,0,0,0,.625-2.058,6.625,6.625,0,0,0-1.9-1.013,6.986,6.986,0,0,1-.622,2.056,6.981,6.981,0,0,1,1.894,1.015" transform="translate(-102.467 -11.358)" fill="#473763"/>
          <path id="Path_1339" data-name="Path 1339" d="M108.51,4.4A6.615,6.615,0,0,0,107.5,2.5a6.647,6.647,0,0,0-2.058.626,6.949,6.949,0,0,1,1.015,1.893A7.046,7.046,0,0,1,108.51,4.4" transform="translate(-91.705 -1.636)" fill="#473763"/>
          <path id="Path_1340" data-name="Path 1340" d="M113.67,43.815a8.6,8.6,0,0,1-1.505,2.167c.574.707,1.092,1.373,1.34,1.694.086.112.066.133-.047.047-.321-.248-.988-.767-1.7-1.343A8.618,8.618,0,0,1,109.68,47.8a6.622,6.622,0,0,0,4.292.3,6.64,6.64,0,0,0,.168-2.567,6.562,6.562,0,0,0-.47-1.723" transform="translate(-94.474 -28.608)" fill="#473763"/>
          <path id="Path_1341" data-name="Path 1341" d="M75.386,13.509a8.587,8.587,0,0,1,1.432-2.09c-.545-.674-1.03-1.3-1.267-1.6-.086-.112-.066-.133.046-.046.306.236.929.721,1.6,1.265a8.61,8.61,0,0,1,2.177-1.514,6.612,6.612,0,0,0-4.291-.3,6.606,6.606,0,0,0,.3,4.291" transform="translate(-71.74 -5.873)" fill="#473763"/>
          <path id="Path_1342" data-name="Path 1342" d="M111.857,11.033c.673-.544,1.3-1.028,1.6-1.265.112-.086.133-.065.047.047-.237.307-.722.931-1.268,1.6a8.575,8.575,0,0,1,1.432,2.089,6.553,6.553,0,0,0,.469-1.723,6.621,6.621,0,0,0-.167-2.567,6.615,6.615,0,0,0-4.292.3,8.588,8.588,0,0,1,2.177,1.514" transform="translate(-94.474 -5.873)" fill="#473763"/>
          <path id="Path_1343" data-name="Path 1343" d="M77.3,46.38c-.708.575-1.377,1.1-1.7,1.343-.112.086-.133.065-.046-.047.247-.321.765-.987,1.34-1.695a8.6,8.6,0,0,1-1.505-2.167,6.6,6.6,0,0,0-.3,4.29,6.619,6.619,0,0,0,4.291-.3A8.6,8.6,0,0,1,77.3,46.38" transform="translate(-71.74 -28.608)" fill="#473763"/>
          <path id="Path_1344" data-name="Path 1344" d="M93.754,56.926c-.094.917-.2,1.767-.253,2.172-.018.14-.048.14-.066,0-.052-.406-.159-1.256-.254-2.172a8.562,8.562,0,0,1-2.535-.466,6.615,6.615,0,0,0,2.822,3.248,6.655,6.655,0,0,0,1.934-1.7,6.579,6.579,0,0,0,.886-1.55,8.558,8.558,0,0,1-2.535.466" transform="translate(-82.047 -36.864)" fill="#473763"/>
          <path id="Path_1345" data-name="Path 1345" d="M93.2,2.78c.09-.851.187-1.624.236-2,.018-.14.048-.14.066,0,.049.381.145,1.153.235,2a8.57,8.57,0,0,1,2.553.466A6.615,6.615,0,0,0,93.469,0a6.614,6.614,0,0,0-2.822,3.247A8.568,8.568,0,0,1,93.2,2.78" transform="translate(-82.047)" fill="#473763"/>
          <path id="Path_1346" data-name="Path 1346" d="M122.329,30.422a6.617,6.617,0,0,0,3.247-2.821,6.625,6.625,0,0,0-3.247-2.821,8.58,8.58,0,0,1,.469,2.628c.883.092,1.693.194,2.086.244.14.018.14.047,0,.065-.394.051-1.205.153-2.091.245a8.563,8.563,0,0,1-.463,2.459" transform="translate(-102.733 -16.179)" fill="#473763"/>
          <path id="Path_1347" data-name="Path 1347" d="M67.565,29.535a6.584,6.584,0,0,0,1.55.887,8.606,8.606,0,0,1-.464-2.459c-.885-.093-1.7-.194-2.09-.245-.14-.018-.14-.047,0-.065.393-.051,1.2-.152,2.086-.244a8.583,8.583,0,0,1,.469-2.628A6.618,6.618,0,0,0,65.868,27.6a6.623,6.623,0,0,0,1.7,1.934" transform="translate(-65.868 -16.179)" fill="#473763"/>
        </g>
        <g id="Group_990" data-name="Group 990" transform="translate(69.654 3.787)">
          <path id="Path_1348" data-name="Path 1348" d="M84.412,10.91a7.635,7.635,0,1,0,7.635,7.635,7.635,7.635,0,0,0-7.635-7.635m0,13.063a5.428,5.428,0,1,1,5.428-5.428,5.428,5.428,0,0,1-5.428,5.428" transform="translate(-76.777 -10.91)" fill="#473763"/>
          <path id="Path_1349" data-name="Path 1349" d="M90.778,20.659a4.252,4.252,0,1,0,4.251,4.251,4.252,4.252,0,0,0-4.251-4.251m0,7.274A3.023,3.023,0,1,1,93.8,24.91a3.023,3.023,0,0,1-3.023,3.023" transform="translate(-83.142 -17.275)" fill="#473763"/>
          <path id="Path_1350" data-name="Path 1350" d="M95.347,27.657a1.823,1.823,0,1,0,1.822,1.823,1.823,1.823,0,0,0-1.822-1.823m0,3.118a1.3,1.3,0,1,1,1.3-1.3,1.3,1.3,0,0,1-1.3,1.3" transform="translate(-87.712 -21.845)" fill="#473763"/>
        </g>
      </g>
    </svg>
  </li>
  {% endfor %}
</ul>

