.list-mantra{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.list-mantra li{
  list-style-type: none;
  margin-bottom: 1rem;
  padding-left: 35px;
  position: relative;
}
.list-mantra li .puce{
  position: absolute;
  top: 5px;
  left: 0;
  width: 23px;
  height: 23px;
}