/* Main Footer */
#main-footer p,
#main-footer li,
#main-footer a {
    font-weight: 300;
    font-size: 20px;
}


#main-footer h1,
#main-footer h2,
#main-footer h3,
#main-footer h4,
#main-footer h5,
#main-footer h6 {
    font-weight: 300;
}