/* Temporaire  */
.header__content,
.header__mobile-toggle{
  display: none !important;
}

/* Main header */
#main-header{
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
}

#main-header.header-no-navigation{ 
  position: absolute;
  background: transparent !important;
}

#main-header .dnd-section,
#main-header .dnd-column{
  padding-top: 0;
  padding-bottom: 0;
}

/* Navigation skipper */

.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Header container */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 1rem;
}

/* Header logo */

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 200px;
}

.header__logo a{
  display: flex;
}
  
.header__logo img {
  max-width: 200px !important;
}

/* Header content (responsive) */

.header__content,
.header__menu,
.header__navigation,
.header__navigation > *{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header__logo .logo-company-name {
  font-size: 1.167rem;
  margin-top: 0.7rem;
}

/* Header content - Language switcher */

.header__language-switcher {
  cursor: pointer;
  margin-left: 0.75rem;
  padding-left: .5rem;
  display: flex;
  align-items: center;
  color: #FFF;
  min-width: 40px;
  min-height: 40px;
}

.header__language-switcher .lang_switcher_class {
  position: static;
  padding-bottom: 5px; 
}

.header__language-switcher .lang_list_class {
  display: block;
  right: -5px;
  left: inherit;
  transform: inherit;
  opacity: 0;
  min-width: 100px;
  padding-top: 0;
  text-align: left;
  top: 100%;
  transition: opacity 0.3s;
  visibility: hidden;

  border: 0px none;
  background-color: rgba(255,255,255,1.0);
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.header__language-switcher:hover .lang_list_class,
.header__language-switcher:focus .lang_list_class {
  opacity: 1;
  transition: opacity 0.3s;
  visibility: visible;
}

.header__language-switcher .lang_list_class:before {
  left: 70%;
  top: -25px;
  display: none;
}

.header__language-switcher .lang_list_class:after {
  left: 70%;
  top: -22px;
  display: none;
}

.header__language-switcher .lang_list_class.first-active::after {
  top: -22px;
  transition: 0.3s;
}

.header__language-switcher .lang_list_class li {
  border: none;
  font-size: 16px;
  padding: 0.35rem 16px;
  white-space: nowrap;
}

.header__language-switcher .lang_list_class li:first-child {
  border-radius: 6px 6px 0 0;
  border-top: none;
}

.header__language-switcher .lang_list_class li:last-child {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}

.header__language-switcher .lang_list_class li:hover {
  transition: background-color 0.3s;
}

.header__language-switcher--label {
  display: flex;
  position: relative;
}

.header__language-switcher--label .globe_class{
  background: none;
  width: 0;
}

.header__language-switcher--label-current {
  align-items: center;
  display: flex;
  text-transform: uppercase;
  padding-right: 12px;
}

.header__language-switcher--label-current:after {
  content: "";
  position: absolute;
  top: 43%;
  right: 0;
  width: 7px;
  height: 7px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: translate3d(0,-50%,0) rotate(45deg);
  border-radius: 1px;
  transition: transform 200ms ease-in-out;
}

.header__language-switcher:hover .header__language-switcher--label-current:after{
  transform: translate3d(0,0%,0) rotate(225deg);
}

/* Header mobile toggle */

.header__mobile-toggle {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 0 0 1rem;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
  
.header__mobile-toggle__btn {
  width: 30px;
  height: 3px;
  padding: 0;
  margin: 0;
  background-color: #FCFEFF;
  border-radius: 3px;
  position: relative;
  transition: background 200ms ease-in-out;
}

.header__mobile-toggle__btn::after,
.header__mobile-toggle__btn::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FCFEFF;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.header__mobile-toggle__btn::before{
  top: -9px;
}

.header__mobile-toggle__btn::after{
  bottom: -9px;
}

.header__button button,
.header__button .button,
.header__button .btn,
.header__button .cta_button,
.header__button .hs-button {
  white-space: nowrap;
}

/* RESPONSIVE 1024px */

@media screen and (max-width: 1024px) {

  .header__content,
  .header__menu,
  .header__navigation,
  .header__navigation > *{
    height: auto;
    justify-content: flex-start;
    align-items: flex-start
  }

  .header__logo {
    justify-content: flex-start;
    width: 100%;
  }

  .header__logo img{
    max-width: 160px !important;
  }

  .header__menu {
    position: relative;
  }

  .header__navigation{
    width:100%;
  }

  .header__row-1 {
    padding-top: 0;
  }

  .header__row-2 {
    justify-content: center;
    padding: 1.05rem;
  }

  .header__mobile-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__content {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px); 
    max-width: 768px;
    background-color: #FCFEFF;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    opacity: 0;
    transition: opacity .3s;
    visibility: hidden;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  }

  .header__navigation{
    width: 100%;
  }

  .header__content .header__menu {
    justify-content: flex-start;
    position: relative;
  }

  .header__menu .menu__item--depth-1 .menu__link{
    color: currentColor !important;
  }

  .menu__item--has-submenu.menu__item--depth-1::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    display: inline-block;
    transform: translate3d(0,-48%,0) rotate(135deg);
    border-radius: 1px;
  }

  /* Mobile toggle active */

  .header-mobile-active .header__mobile-toggle__btn {
    background-color: transparent !important;
  }

  .header-mobile-active .header__mobile-toggle__btn::after{
    transform: rotate(45deg);
    bottom: 0;
  }
    
  .header-mobile-active .header__mobile-toggle__btn::before{
    transform: rotate(-45deg);
    top: 0;
  }

  .header-mobile-active .header__content{
    opacity: 1;
    visibility: visible;
  }

  .header__language-switcher {
    margin-left: 0;
    margin-right: auto;
    color: currentColor;
  }

  .header__language-switcher--label-current:after {
    top: 48%;
    transform: translate3d(0,-50%,0) rotate(-45deg);
  }

  .header__language-switcher:hover .header__language-switcher--label-current:after {
      transform: translate3d(2px,-50%,0) rotate(135deg);
  }

  .header__language-switcher .lang_list_class{
    right: inherit;
    left: calc(100% + 15px);
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

/* RESPONSIVE 768px ~ 1024px */

@media (min-width: 768px) and (max-width: 1024px) {

  .header__content {
    align-items: center;
  }

  .header__language-switcher .lang_list_class{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
  }

  .header__language-switcher .lang_list_class li{
    padding: 0 !important;
    margin-left: 5px;
  }

  .header__language-switcher .lang_list_class li:not(:last-child)::after{
    content: "-";
    
  }
    
  .header__language-switcher .lang_list_class li a{
    padding: 5px;
    font-size: 14px !important;
  }

}

@media screen and (max-width: 768px){

  .header__button{
    margin-bottom: 2px;
    margin-top: 6px;
  }

  .header__button .dnd-section{
    padding-left: 0;
    padding-right: 0;
  }

}
